name: material_leap
description: Additional widgets for Flutter Material Design.
version: 0.0.1
publish_to: none
source: https://github.com/LinwoodDev/dart_pkgs

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter_localizations:
    sdk: flutter
  flutter:
    sdk: flutter
  intl: ">=0.18.0 <0.20.0"
  phosphor_flutter: ^2.1.0
  dart_leap:
    git:
      url: https://github.com/LinwoodDev/dart_pkgs.git
      path: packages/dart_leap
      ref: b7787191b0705ff0a22149409b1b360468d9e06d
  window_manager: ">=0.3.9 <0.6.0"
  flutter_bloc: ">=8.1.5 <10.0.0"
  web: ^1.0.0
  lw_file_system_api:
    git:
      url: https://github.com/LinwoodDev/dart_pkgs.git
      path: packages/lw_file_system_api
      ref: fcac45caf2dc178a1d81c0f0b633fbe8210a81a5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  generate: true

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
