# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Dart

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project:
          - packages/dart_leap
          - packages/flutter_localizer
          - packages/localizer
          - packages/lw_file_system
          - packages/lw_sysapi
          - packages/material_leap
          - packages/networker/networker
          - packages/networker/networker_rtc
          - packages/networker/networker_socket
          - packages/networker/networker_s5
    defaults:
      run:
        working-directory: ${{ matrix.project }}
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
      - name: Install dependencies
        run: dart pub get
      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .
      - name: Analyze project source
        run: dart analyze --fatal-infos
      - name: Run tests
        run: flutter test
